.idea
Gemfile.lock
working
chef/.kitchen
chef/aws.json
atlassian-ide-plugin.xml
.virtualenv
__pycache__
*.pyc
Distutils.*
copyright-hub-api.iml
*.swp
pretty.output

tests/config/local.py
tests/reports
_build
apiary-docs/*/api.md.yaml
